<!DOCTYPE html>
<html lang="en">
<head>
<style>
.pd{width: 6em;text-align:center; padding-bottom: 1.5em; }
.parent div{display:flex;}
@media screen and (max-width: 600px){

.parent div{padding-bottom:1em;}}
body { font-family: sans-serif;}
img{max-width:100%;height:auto;}
pre{max-width:100%;height:auto;white-space:pre-wrap}
.navi-parent{display:flex;flex-direction:row;justify-content:space-between;padding-bottom:.5em;font-style:italic;}
</style>

<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<meta charset="utf-8">
<title>{{ .Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ .Description }}">
<link href="{{ .Site.BaseURL }}/atom.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />


<body>
{{ partial "header.html" .}}
<div class="parent">
{{ range .Site.RegularPages}}
<div><div class="pd">{{ .Date.Format "01/02/2006" }}</div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
{{ end }}

{{ partial "footer.html" .}}
</div>
<br>
 
